.example-card {
	width: 400px;
	padding: 0;
	margin-right: 20px;
	background-image: url('/assets/wallpaper.jpeg');
	background-size: cover;
}
.mat-card-actions {
	margin: 0;
}
.example-header-image {
	background-image: url('/assets/rahman.jpg');
	background-size: cover;
}
.example-header-image-right {
	background-image: url('/assets/rahman_1.jpg');
	background-size: cover;
}
.card-header {
	background-color: #525252;
	padding: 10px 10px;
}

.subtitle {
	margin-bottom: 0;
}

.mat-card-content {
	height: 600px;
	padding: 0 10px;
}
.chat-box {
	display: flex;
	flex-direction: column;
	padding: 10px 0;
}
.chat-item {
	background-color: white;
	max-width: 300px;
	padding: 10px;
	color: black;
	margin-bottom: 10px;
}
.chat-item-receiver {
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

.chat-item-sender {
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
}

.sender {
	justify-content: flex-end;
}

.chat-wraper {
	width: 100%;
	display: flex;
}

.explenation-card {
	width: 600px;
	background-color: #ffe36e;
	color: black;
}