<mat-card class="example-card">
    <mat-card-title>Muhammad Rahman Firdaus</mat-card-title>
    <mat-card-content>
        <p>
        Bismillah, hellow in this apps, i will try to make interaction between components. I used 2 method: 
        1. Use binding data component with @Input & @Output
        2. Use Singleton Service

        If there is an error in the method or concept, please correct it, because in fact humans cannot be separated from being wrong :D
        </p>
    </mat-card-content>
</mat-card>